
<!DOCTYPE html>
<html lang="en">
<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/blog1/" title="Blog1">Alpha Centauri</a><li>
      <li><a href="/blog2/" title="Blog2">Vega</a><li>
    </ul>
  </nav>